agm-map {
  height: 50vh;
  width: 100vw;
}

.input-field {
  color: white;
}

label{
  font-size: 1rem;
}

.card {
  margin: .5rem 0 .5rem 0;
  padding: 10px 10px 3rem 10px;
}

.card-panel {
  padding: 10px;
  margin: 1rem 0 .5rem 0;
}
