<div [hidden]='loadingEvent'>
<agm-map
  [latitude]='centerLat'
  [longitude]='centerLng'
  [zoom]="16"
  >
  <agm-marker-cluster
    [averageCenter]='true'
    [imagePath]="'/assets/images/m/m'"
  >
    <agm-marker *ngFor='let m of this.markers; let i = index'
      [latitude]='m.lat'
      [longitude]='m.lng'
      [markerDraggable]='m.draggable'
    >
      <agm-snazzy-info-window [closeWhenOthersOpen]='true' [panOnOpen]='false'>
        <ng-template>
          <strong>({{m.lat}}, {{m.lng}})</strong>
          <button class="waves-effect waves-light btn-large"
          (click)="claimPoint(m.lat, m.lng)">
            Claim It
          </button>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-marker-cluster>
</agm-map>

<div class='row'>
  <div class='col'>
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{name}}</span>
          <p>Tap on the number clusters until a marker appears. Tap a marker and press the 'CLAIM IT' button to claim it. Note that in some browsers you need to press the 'x' or click on a blank spot to cancel a marker selection.</p>
          <strong>Be Aware:</strong>
          <p>These locations were chosen arbitrarily by a computer algorithm. There are no guarantees any point is safe or accessible. For example: it could be on water, on private property, or in the middle of the road. Trust your own judgement first!</p>
      </div>
    </div>
  </div>
</div>
</div>

<div [hidden]='!loadingEvent'>
<mat-progress-spinner [color]="'white'" [mode]="'indeterminate'">
</mat-progress-spinner>
</div>
